@import "~bulma/sass/utilities/initial-variables";

@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");

// フォント
$family-primary: "M PLUS Rounded 1c", sans-serif;

$title-line-height: 1.5;

// container variables (mobile is '<1024px')
$desktop: 960px; // default 960px.
$widescreen: 1152px; //default 1152px.
$fullhd: 1152px; // default 1344px.

// Navbar variables
//$navbar-padding-horizontal: 0;

.title-logo {
  font-family: "Audiowide", cursive;
  font-size: 1.5em;
  color: $black;
  letter-spacing: 0.2em;

  &:hover {
    color: $grey-darker;
    text-shadow: 0 0 4px $grey-light;
  }
}

.blog-roll {
  &:hover {
    box-shadow: 0 0 3px 2px $grey-light;

    .blog-roll-title {
      text-decoration: underline;
    }
  }
}

.tag-button {
  &:hover {
    .tag {
      box-shadow: 0 0 0 1px $black;
    }
  }
}

.sns-icon {
  svg {
    cursor: pointer;
    color: $black;

    &:hover {
      color: $grey-light;
    }
  }
}

.profile-tile-link {
  &:hover {
    text-decoration: underline;
  }
}

.tag-list {
  padding-top: 0.2em;
  padding-bottom: 0.2em;

  li {
    display: inline-block;
    padding-right: 0.5em;
  }
}

.section {
  &.is-odd-section {
    background-color: $white-ter;
  }
  &.is-even-section {
    background-color: $white;
  }
}

.skill-set-bar {
  width: 100%;
  height: 30px;
  vertical-align: baseline;
  border: solid 1px $grey-darker;

  .skill-set-bar-item {
    display: inline-block;
    position: relative;
    width: 20%;
    height: 100%;

    &:nth-child(2n) {
      color: $white;
      background-color: $grey-darker;
    }

    .skill-set-bar-panel {
      text-align: center;
      
      &:hover {
        text-decoration: underline;

        & + .skill-set-bar-comment {
          display: block;
        }
      }
    }

    .skill-set-bar-comment {
      display: none;
      position: absolute;
      background-color: $white;
      color: $grey-darker;
      border: solid 1px $grey-darker;
      border-radius: 8px;
      padding: 4px;
      width: 300px;
      height: 80px;
      top: -100px;
      left: -10px;
      z-index: 1;

      &:before {
        content: "";
        position: absolute;
        display: block;
        width: 0;
        height: 0;
        left: 10px;
        bottom: -15px;
        border-right: 15px solid transparent;
        border-top: 15px solid $grey-darker;
        border-left: 15px solid transparent;
      }

      &:after {
        content: "";
        position: absolute;
        display: block;
        width: 0;
        height: 0;
        left: 10px;
        bottom: -14px;
        border-right: 15px solid transparent;
        border-top: 15px solid $white;
        border-left: 15px solid transparent;
      }
    }
  }
}

@import "~bulma";
@import "~bulma-timeline";
